* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
  }

  body {
      padding-top: 0;
      margin: 0 auto;
      background-color: #E9897E;
  }

  .main-header {
      font-family: 'Inconsolata', monospace;
      margin: 0 auto;
      padding: 40px 20px 0px 10px;
      height: 120px;
      color: beige;
      background-color: #E9897E;
    }
  
  .container h1 {
      font-size: 250%;
      font-weight: 900;
      color: beige;
      font-family: 'Inconsolata', monospace;
      
    }

  .main-header h2 {
      font-size: 100%;
      float: left;

    }

  .topnav {
    overflow: hidden;
    background-color: #E9897E;
    display: block;
    padding: 10px;
    

  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-family: 'Inconsolata', monospace;
    float: right;
    
  }

  ul a {
    text-decoration: none;
    color: beige;
    font-size: 150%;
    display: inline;
    padding: 20px;
  }

  li {
    display: inline;
  }


  
  
.container {
      height: 200px;
      width: 100%;
      background-color:darkgrey;
  }