* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
  }

  body {
      padding-top: 0;
      margin: 0 auto;
      background-color: #E9897E;
  }

  header {
      font-family: 'Inconsolata', monospace;
      margin: 0 auto;
      padding: 5px;
      height: 120px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      
    }
  
  header h1 {
      font-size: 250%;
      color: beige;
      font-weight: 900;
      background-color: #E9897E;
      
      
  }

  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:baseline;
    background-color: #E9897E;
    color: beige;
    text-decoration: none;
  }
      

  ul {
      color: beige;
      background-color: #E9897E;
  
.container {
      height: 200px;
      width: 100%;
      background-color:darkgrey;
  }