* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
  }

  body {
      background-color: #E9897E;
    }

  header {
      padding: 20px;
      margin: 0;
      box-sizing: border-box;
      font-family: 'Inconsolata', monospace;
      background-color: darkgrey;
      color: beige;
     }


  h1 {
      display: inline-block;
      font-size: 48px;
      
    }

    header nav {
      padding-top: 15px;
      margin-right: 20px;
      float: right;
      font-family:'Inconsolata', monospace;
      font-size: 20px;
    }
  
    ul, li {
      display: inline-block;
      margin-left: 25px;
      list-style-type: none;
    }
  
   a {
      text-decoration: none;
      color: beige;
  
    }

    a:hover {
      opacity: 0.7;
      color: darkseagreen;
    }

    p {
      font-size: 16px;
    }

    .hero {
        width: 800px;
        height: 100px;
        margin-bottom: 25px;
        background-size: cover;
        background-position: center;

    }
    #tagline h3 {
        float: right;
        font-family: 'Inconsolata', monospace;
        color: beige;        
    }

    .content {
      width: 75%;
      display: inline-block;
      margin-left: 20px;
    }

    main section {
      margin-bottom: 20px;
      padding: 50px;
      height: 300px;
      font-family: 'Inconsolata', monospace;
      background-color: #E9897E;
      color: beige;
    }

    main section img {
      max-height: 200px;
    }

    .float-left {
      float: left;
      margin-right: 25px;
    }

    .float-right {
      float: right;
      margin-left: 25px;
    }

    h2 {
      margin-bottom: 20px;
      font-size: 36px;
    }


    aside {
      margin-right: 20px;
      padding: 20px;
      clear: both;
      float: right;
      width: 20%;
      height: 100%;
      font-family: 'Inconsolata', monospace;
      background-color: #E9897E;

    }

    aside section {
      margin-bottom: 32px;
      color: beige;
    }
    
    aside section h3 {
      margin-bottom: 10px;
      text-align: center;
    }

    aside section img {
      display: block;
      margin: 10px auto;
      max-width: 150px;
    }

    footer {
      padding: 30px;
      clear: both;
      font-family: 'Inconsolata', monospace;
      text-align: center;

    }

    footer h2 {
      font-size: 20px;
    }
    
    

  
  